
#detailed_daily_view{
    font-family: "Comic Sans MS", "Comic Sans","Bradley Hand" ,cursive;
}
#title{
    font-family: "Comic Sans MS", "Comic Sans","Bradley Hand" ,cursive;
}
#linkedDeviceList{
    font-family: "Comic Sans MS", "Comic Sans", "Bradley Hand", cursive;
}
#particleDeviceList{
    font-family: "Comic Sans MS", "Comic Sans", "Bradley Hand",cursive;

}
#DailyView{
    font-family: "Comic Sans MS", "Comic Sans","Bradley Hand", cursive;
}
#Weekly_View{
    font-family: "Comic Sans MS", "Comic Sans", "Bradley Hand", cursive;
}
#addDevice{
    font-family: "Comic Sans MS", "Comic Sans", "Bradley Hand";
}