h1{
    text-decoration: underline;
    color: #00FFFF;
}
h4{
    font-size: 8%;
    font-family: "Comic Sans MS", "Comic Sans","Bradley Hand" ,cursive;
    text-decoration: underline;
    
}
#login_{
    font-family: "Comic Sans MS", "Comic Sans","Bradley Hand" ,cursive;
}
#submitbtn{
    font-family: "Comic Sans MS", "Comic Sans","Bradley Hand" ,cursive;
}
#password_{
    font-family:"Comic Sans MS", "Comic Sans","Bradley Hand" ,cursive;
}

body{
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
    translate: transformY(60%);
    background-color: #ffb6c1;


}
#Vampire{
    display:none;
}